$header-height: 110px;
$header-height-scroll: 80px;

$header-height-mobile: 80px;
$header-height-mobile-scroll: 60px;

$header-bg-color: #606060;
$header-bg-color-blur: #606060a9;
$header-text-color: #fff;

main {
	margin-top: $header-height;
	@media (max-width: $md3+px) {
		margin-top: $header-height-mobile;
	}
}

.header {
	color: $header-text-color;
	&._scroll {
		.header__wrapper {
			background: $header-bg-color;
			transition: all 0.1s ease 0s;
			@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
				background: $header-bg-color-blur;
				backdrop-filter: blur(31px);
			}
		}
	}
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	// .header__wrapper

	&__wrapper {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		background: $header-bg-color;
		z-index: 90;
	}

	// .header__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		min-height: $header-height;
		transition: min-height 0.3s ease 0s;
		@media (max-width: $md3 + px) {
			min-height: $header-height-mobile;
			transition: all 0.3s ease 0s;
		}
	}
	&._scroll {
		.header__body {
			min-height: $header-height-scroll;
			transition: all 0.3s ease 0s;
			@media (max-width: $md3+px) {
				min-height: $header-height-mobile-scroll;
			}
		}
	}
	// .header__logo

	&__logo {
		@media (max-width: $md3+px) {
			justify-content: flex-end;
			flex: 1 1 72%;
		}
		z-index: 100;
		min-width: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .header__info

	&__info {
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 260px;
		flex: 0 1 36%;
		@media (max-width: $md3+px) {
			flex: 0 1 20%;
		}
	}

	// .header__menu

	&__menu {
		flex: 1 1 auto;
		@media (min-width: $md3+px) {
			li {
				z-index: 100;
				position: relative;
			}
		}
		@media (max-width: $md3+px) {
			flex: 0 0 auto;
		}
	}
}
.menu {
	// .menu__body

	&__body {
		@media (max-width: $md3+px) {
			justify-content: space-between;
			overflow: auto;
			position: fixed;
			top: 0px;
			left: -100%;
			width: 100%;
			height: 100vh;
			background: $header-bg-color;
			padding-top: $header-height;
			z-index: 10;
			transition: all 0.3s ease 0s;
			@include adaptiv-value('font-size', 40, 30, 1);
			a {
				color: $mainColor;
				@include adaptiv-value('font-size', 40, 30, 1);
			}
			.menu__list {
				flex-direction: column;
				align-items: center;
				li {
					&:not(:last-child) {
						margin: 0px 0px 20px 0px;
					}
				}
			}
			&._active {
				left: 0%;
			}
		}
	}

	// .menu__list

	&__list {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			margin: 0 10px;
		}
	}

	&__link{
		color: $header-text-color;
	}
}
