.section {
	// .section_gifts

	&_gifts {
		margin-top: 300px;
		background: linear-gradient(180deg, #ecb200 0%, #ffcf00 78.83%);
		padding-top: 460px;
		padding-bottom: 67px;
		@media (max-width: $md1+px) {
			padding-top: 430px;
		}
		@media (max-width: $md2+px) {
			padding-top: 360px;
		}
		@media (max-width: $md3+px) {
			padding-top: 260px;
		}

		@media (max-width: 600px) {
			padding-top: 145px;
		}
		@media (max-width: $md4+px) {
			padding-top: 130px;
			margin-top: 200px;
		}
	}
}
.gifts {
	// .gifts__container

	&__container {
		margin-top: 81px;
		position: relative;
	}

	&__decorations {
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(300%, 5%);
		@media (max-width: $md1+px) {
			transform: translate(0%, 5%);
		}
		@media (max-width: $md3+px) {
			transform: translate(0%, 100%);
		}
		@media (max-width: $md4+px) {
			transform: translate(-116%, 216%);
		}
		&-right {
			left: 0;
			top: 0;
			transform: translate(-30%, -65%);
			@media (max-width: $md4+px) {
				transform: translate(22%, 42%) scale(0.7);
			}
		}
		&-bottom {
			bottom: 0;
			left: 13%;
			top: auto;
			transform: translate(0, 180%);
		}
	}

	&__button {
		position: absolute;
		text-transform: uppercase;
		top: 724px;
		z-index: 10;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 69px;
		width: 234px;
		color: $white-1;
		border-radius: 39px;
		background-color: white;
		filter: drop-shadow(0px 0px 27px $white-1);
		padding: 0 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $md1+px) {
			top: 690px;
		}
		@media (max-width: $md2+px) {
			top: 620px;
		}
		@media (max-width: $md3+px) {
			top: 520px;
		}
		span {
			content: '';
			z-index: 0;
			transition: all 0.3s ease 0s;
			width: calc(100% - 18px);
			height: calc(100% - 18px);
			position: absolute;
			top: 50%;
			background-color: $red-1;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 39px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			line-height: 21px;
			font-family: $fontFamilyMedium;
			color: $white-1;
			@media (any-hover: hover) {
				&:hover {
					background-color: $red-1-hv;
				}
			}
		}
		@media (max-width: 600px) {
			top: 420px;
			width: 164px;
			height: 46px;
			span {
				font-size: 14px;
				line-height: 21px;
				width: calc(100% - 12px);
				height: calc(100% - 12px);
			}
		}
		@media (max-width: $md4+px) {
			top: 305px;
		}
	}

	&__title {
		@include adaptiv-value('font-size', 60, 34, 1);
		font-family: $fontFamilyMedium;
		text-transform: uppercase;
		text-align: center;
		font-size: 60px;
		color: $red-1;
		filter: drop-shadow($white-1 -3px 5px 0px);
		line-height: 46px;
	}

	// .gifts__steps

	&__steps {
		margin-top: 61px;
		display: flex;
		gap: 61px;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	// .gifts__step

	&__step {
		opacity: 0;
		min-width: 125px;
		max-width: 185px;
		transform: translate(-20%, 0);
		will-change: transform, opacity;
		flex: 1;
		&._show {
			opacity: 1;
			transform: translate(0, 0);
		}
		&:nth-child(1) {
			//flex: 0 1 128px;
			transition: all 0.3s ease 0.3s;
		}
		&:nth-child(2) {
			//flex: 0 1 221px;
			transition: all 0.3s ease 0.5s;
		}
		&:nth-child(3) {
			//flex: 0 1 198px;
			transition: all 0.3s ease 0.7s;
		}
		&:nth-child(4) {
			//flex: 0 1 142px;
			transition: all 0.3s ease 0.9s;
		}
		&:nth-child(5) {
			//flex: 0 1 177px;
			transition: all 0.3s ease 1.1s;
		}

		position: relative;
		@media (max-width: 526px) {
			&:nth-child(2) {
				&::after {
					opacity: 0;
					visibility: hidden;
				}
			}
			&:nth-child(4) {
				&::after {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		@media (max-width: 340px) {
			&::after {
				opacity: 0;
				visibility: hidden;
			}
		}
		&:not(:last-child) {
			&::after {
				content: '';
				position: absolute;
				width: 33px;
				height: 33px;
				right: 0;
				top: 50%;
				transform: translate(100%, -50%) rotate(45deg);
				border-radius: 2px;
				border-top: 4px solid red;
				border-right: 4px solid red;
			}
		}
	}
}

.gifts-step {
	&__wrapper {
		flex: 1;
	}

	// .gifts-step__image

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .gifts-step__text

	&__text {
		margin-top: 28px;
		text-align: center;
		font-size: 20px;
		line-height: 22px;
	}
}
